<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>My Portfolio</title>
   <link rel="stylesheet" href="/app.ef469fd3.css?_dc=@(DateTime.Now.Ticks)" />
</head>
<body>
  @RenderBody()
  <script src="/app.586a795f.js?_dc=@(DateTime.Now.Ticks)"></script>
</body>
</html>